.affairWrapper {
    display: flex;
    justify-content: space-between;
}

.high {
    color: red;
    margin: 5px;
}

.middle {
    color: yellow;
    margin: 5px;
}

.low {
    color: greenyellow;
    margin: 5px;
}

.tasks {
    margin: 0 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.name {
    width: 200px;
    margin: 5px 40px;
}